{% extends 'base_generic.html' %}

{% block title %}
  <title>About</title>
{% endblock %}

{% block content %}
  <h1>Learning Library</h1>
  <h4>
    Welcome to LocalLibrary, a website developed by <em><a href="http://bitsplease.pythonanywhere.com/aboutus/">BitsPlease!</em><br>
    This site is made for (and by) the members of BitsPlease to practice their Web Development skills.
  </h4>
  <p>
    <strong>Tech Specs:</strong>
      This site is built on the following tech stack:
    <ul>
      <li>Django 2.1
      <li>Python 3
      <li>Bootstrap
      <li>SQLite 3
    </ul>

      <strong>Credentials:</strong>
        Use these credentials to naviagete and test the website:
      <ul>
        <li>user1:bitsplease
        <li>user2:bitsplease
        <li>librarian1:bitsplease
        <li>librarian2:bitsplease
      </ul>

    <strong>Notice:</strong> The password reset is not operational.<br>
    <strong>Source:</strong> www.git.com
  </p>

{% endblock %}
